@import "./bootstrap.css";

#balance {
  text-decoration: underline;
  cursor: pointer;
}

#balance:hover {
  text-decoration: none;
}

.balances-card, .send-tokens-card {
  width: 500px;
  margin-top: 25px;
}

.card-img-wallet:hover {
  opacity: 0.5;
}

.card-img-wallet:active {
  transform: scale(0.8);
}

.navbar-img {
  height: 26px;
}

.set-cursor-pointer {
  cursor: pointer;
}

.Vue-Toastification__toast--info {
  background-color: #268bd2;
}

.Vue-Toastification__toast--success {
  background-color: #2aa198;
}

.Vue-Toastification__toast--error {
  background-color: #d33682;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .balances-card, .send-tokens-card {
    width: 100%;
    margin: 5px;
    margin-top: 15px;
  }
}
